[Unit]
Description=AVR300 OSC Controller

[Service]
Type=simple
ExecStart=/usr/local/bin/avr300osc
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
